@{
    ViewData["Title"] = "Home page";
}

<div class="row align-items-center mt-5">

	<div class="col-6">
		<div class="heading-block">
			<h1 class="display-4">Объединяйтесь создавайтесь соревнуйтесь</h1>
		</div>
		<p class="lead">Хочешь найти команду и интересный проект, прокачать свои скиллы, пополнить портфолио, соревноваться и показать себя? </p>
		<a href="#" class="button button-border button-circle m-0 font-secondary">Присоединиться</a>
	</div>

	<div class="col-6 align-self-end">

		<div class="position-relative overflow-hidden">
			<img src="~/img/mainIl.svg"/>
		</div>
	</div>

</div>
<div class="row align-items-center mt-5">


</div>
 