@{
    ViewData["Title"] = "Home page";
}

<div class="row align-items-center">

	<div class="col-lg-5 offset-1 ">
		<div class="heading-block">
			<h1>Найди свою команду для коворкинга</h1>
		</div>
		<p class="lead">Нужна дружная команда и интересный проект, прокачать свои скилы, пополнить портфолио и получить массу удовольствия?</p>
	</div>

	<div class="col-lg-5 align-self-end">

		<div class="position-relative overflow-hidden">
			<img src="ВСТАВИТЬ АДРЕСС КАРТИНКИ" data-animate="fadeInUp" data-delay="100" alt="Chrome" class="fadeInUp animated">
		</div>
	</div>

</div>
 